.address_form{
  h3{
    font-weight: bold;
    font-size: 1.9rem;
    margin: 10px;
  }

  .field{
    display: flex;
    justify-content: space-between;
    max-width: 20rem;
    font-size: 1.6rem;
    margin: 5px 8px;
  }
}
