= form_for @message do |message|
  .legislators.container = render partial: 'messages/legislator', collection: @legislators, as: :legislator
  = message.text_field :subject
  = message.text_area :body
